.mapa, .rota {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.mapa {
  z-index: 1;
}

.rota {
  z-index: 2;
  top: -884px;
}
.container-map {
  overflow-x: scroll;
}

#root {
  overflow: hidden;
}