nav{
    display: flex;
    height: 100%;
    position: relative;
    height: 70px;
    background-color: rgb(75, 87, 100);
    width: 100%;
    border-bottom: 5px solid rgb(233, 128, 99);
}
.title {
    text-align: center;
    margin: auto;
    color: #ffffff;
}
.eye {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1em;
    border: 1px solid rgb(233, 128, 99);
    border-radius: 100%;
    padding: 1%;
}
.arrow-back{
    width: 4vh;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.nav-search {
    flex-direction: column;
}
.title-orange {
    text-align: center;
    margin: auto;
    color: rgb(233, 128, 99);
    font-size: 0.9em;
    padding-top: 2vh;
}
.subtitle-detail {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-size: 0.7em;
    font-weight: 400;
    padding-bottom: 1vh;
}
