.Splash{
    position:absolute;
	background-color: #f4a45b;
	min-height:100%;
	min-width:100%;
	visibility:hidden;
}
.App-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
	height: 50%;
	padding-top: 50%;
	padding-bottom: 50%;
	
}