
.logo {
	width: 40%;
	margin:auto; 
	display: block;
	max-width: 250px;

}
.splash-container {
	display: flex;
	position: absolute;
	background-color: #F4A45B; 
	min-height: 100%;
	min-width: 100%;
}
