.img-supermarket {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

@media (min-width: 768px) {
    .img-supermarket {
        width: 17vmin;
        height: 17vmin;
    }
}

.list-supermarket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    list-style: none;
}

li {
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
.supermarket-name {
    text-align: center;
    margin: auto;
    color: rgb(152, 154, 163);
    padding-bottom: 10px;
    padding-top: 5px;
}

ul {
    margin-top: 5%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    max-width: 250px;
}

@media (min-width: 768px) {
    ul {
        max-width: 500px;
    }
}

.buttons {
    width: 85px;
    height: 26px;
    background-color: rgb(233, 128, 99);
    border-radius: 5px;
    margin: auto;
    display: flex;
}
.button-volume {
    color: #4B5764;
}

.button-arrow {
    color:rgb(233, 128, 99);
}
.button-arrow, .button-volume {
    position: relative;
    margin: auto; 
}

.box-arrow {
    display: flex;
    position: relative;
    width: 45%;
    height: 80%;
    background-color: white;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
    border-bottom: rgba(75, 87, 100, 0.8) 1px solid;
}

.btn-supermarket-information {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}